editor/.wsdl/net.homeip/exit.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://exit.ws.rpg.beacon.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExitServiceService" targetNamespace="http://exit.ws.rpg.beacon.com/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://exit.ws.rpg.beacon.com/" version="1.0">
<xs:element name="addExit" type="tns:addExit"/>
<xs:element name="addExitResponse" type="tns:addExitResponse"/>
<xs:element name="getExitById" type="tns:getExitById"/>
<xs:element name="getExitByIdResponse" type="tns:getExitByIdResponse"/>
<xs:element name="removeExitById" type="tns:removeExitById"/>
<xs:element name="removeExitByIdResponse" type="tns:removeExitByIdResponse"/>
<xs:element name="updateExit" type="tns:updateExit"/>
<xs:element name="updateExitResponse" type="tns:updateExitResponse"/>
<xs:complexType name="removeExitById">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="removeExitByIdResponse">
    <xs:sequence>
      <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateExit">
    <xs:sequence>
      <xs:element minOccurs="0" name="exit" type="tns:exit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="exit">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="requiredObjectId" type="xs:int"/>
      <xs:element minOccurs="0" name="targetId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateExitResponse">
    <xs:sequence>
      <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getExitById">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getExitByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="exit" type="tns:exit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addExit">
    <xs:sequence>
      <xs:element minOccurs="0" name="exit" type="tns:exit"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addExitResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getExitByIdResponse">
    <wsdl:part element="tns:getExitByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeExitByIdResponse">
    <wsdl:part element="tns:removeExitByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addExitResponse">
    <wsdl:part element="tns:addExitResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getExitById">
    <wsdl:part element="tns:getExitById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addExit">
    <wsdl:part element="tns:addExit" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateExitResponse">
    <wsdl:part element="tns:updateExitResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeExitById">
    <wsdl:part element="tns:removeExitById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateExit">
    <wsdl:part element="tns:updateExit" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IExitService">
    <wsdl:operation name="removeExitById">
      <wsdl:input message="tns:removeExitById" name="removeExitById">
    </wsdl:input>
      <wsdl:output message="tns:removeExitByIdResponse" name="removeExitByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateExit">
      <wsdl:input message="tns:updateExit" name="updateExit">
    </wsdl:input>
      <wsdl:output message="tns:updateExitResponse" name="updateExitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExitById">
      <wsdl:input message="tns:getExitById" name="getExitById">
    </wsdl:input>
      <wsdl:output message="tns:getExitByIdResponse" name="getExitByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addExit">
      <wsdl:input message="tns:addExit" name="addExit">
    </wsdl:input>
      <wsdl:output message="tns:addExitResponse" name="addExitResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExitServiceServiceSoapBinding" type="tns:IExitService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="removeExitById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeExitById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeExitByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateExit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateExit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateExitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExitById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getExitById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getExitByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addExit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addExit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addExitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExitServiceService">
    <wsdl:port binding="tns:ExitServiceServiceSoapBinding" name="ExitServicePort">
      <soap:address location="http://darkshade.homeip.net/rpgEditorServer/exit"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>