gameClient/.wsdl/net.homeip/npc.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://npc.ws.rpg.beacon.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NPCServiceService" targetNamespace="http://npc.ws.rpg.beacon.com/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://npc.ws.rpg.beacon.com/" version="1.0">
<xs:element name="addNPC" type="tns:addNPC"/>
<xs:element name="addNPCResponse" type="tns:addNPCResponse"/>
<xs:element name="getNPCById" type="tns:getNPCById"/>
<xs:element name="getNPCByIdResponse" type="tns:getNPCByIdResponse"/>
<xs:element name="getNPCList" type="tns:getNPCList"/>
<xs:element name="getNPCListResponse" type="tns:getNPCListResponse"/>
<xs:element name="removeNPCById" type="tns:removeNPCById"/>
<xs:element name="removeNPCByIdResponse" type="tns:removeNPCByIdResponse"/>
<xs:element name="updateNPC" type="tns:updateNPC"/>
<xs:element name="updateNPCResponse" type="tns:updateNPCResponse"/>
<xs:complexType name="removeNPCById">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="removeNPCByIdResponse">
    <xs:sequence>
      <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addNPC">
    <xs:sequence>
      <xs:element minOccurs="0" name="npc" type="tns:npcCharacter"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="npcCharacter">
    <xs:sequence>
      <xs:element minOccurs="0" name="agility" type="xs:int"/>
      <xs:element minOccurs="0" name="charm" type="xs:int"/>
      <xs:element minOccurs="0" name="conversationStart" type="xs:int"/>
      <xs:element minOccurs="0" name="faction" type="xs:int"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="intelligence" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="observation" type="xs:int"/>
      <xs:element minOccurs="0" name="strength" type="xs:int"/>
      <xs:element minOccurs="0" name="vendorStore" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addNPCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getNPCList">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getNPCListResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="npcList" type="tns:npcCharacter"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getNPCById">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getNPCByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="npc" type="tns:npcCharacter"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateNPC">
    <xs:sequence>
      <xs:element minOccurs="0" name="npc" type="tns:npcCharacter"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="updateNPCResponse">
    <xs:sequence>
      <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getNPCById">
    <wsdl:part element="tns:getNPCById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeNPCById">
    <wsdl:part element="tns:removeNPCById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNPCList">
    <wsdl:part element="tns:getNPCList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNPCByIdResponse">
    <wsdl:part element="tns:getNPCByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addNPC">
    <wsdl:part element="tns:addNPC" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateNPCResponse">
    <wsdl:part element="tns:updateNPCResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addNPCResponse">
    <wsdl:part element="tns:addNPCResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNPCListResponse">
    <wsdl:part element="tns:getNPCListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateNPC">
    <wsdl:part element="tns:updateNPC" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeNPCByIdResponse">
    <wsdl:part element="tns:removeNPCByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="INPCService">
    <wsdl:operation name="removeNPCById">
      <wsdl:input message="tns:removeNPCById" name="removeNPCById">
    </wsdl:input>
      <wsdl:output message="tns:removeNPCByIdResponse" name="removeNPCByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNPC">
      <wsdl:input message="tns:addNPC" name="addNPC">
    </wsdl:input>
      <wsdl:output message="tns:addNPCResponse" name="addNPCResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNPCList">
      <wsdl:input message="tns:getNPCList" name="getNPCList">
    </wsdl:input>
      <wsdl:output message="tns:getNPCListResponse" name="getNPCListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNPCById">
      <wsdl:input message="tns:getNPCById" name="getNPCById">
    </wsdl:input>
      <wsdl:output message="tns:getNPCByIdResponse" name="getNPCByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateNPC">
      <wsdl:input message="tns:updateNPC" name="updateNPC">
    </wsdl:input>
      <wsdl:output message="tns:updateNPCResponse" name="updateNPCResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NPCServiceServiceSoapBinding" type="tns:INPCService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="removeNPCById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="removeNPCById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="removeNPCByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNPC">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addNPC">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addNPCResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNPCList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNPCList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNPCListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNPCById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNPCById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNPCByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateNPC">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateNPC">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateNPCResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NPCServiceService">
    <wsdl:port binding="tns:NPCServiceServiceSoapBinding" name="NPCServicePort">
      <soap:address location="http://darkshade.homeip.net/rpgEditorServer/npc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>